* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

nav {
    position: fixed;
}

.nav-wrapper {
    background-color: #ec407a;
    /* position: fixed; */
}

/* nav a {

} */

.container {
    height: 900px;
    width: auto;
    overflow: auto;
    /* background-image: linear-gradient(90deg, #6D0FF2, #AB05F2); */
}

.posiBotContainer {
    position: fixed;
    top: -150px;
}

img {
    width: 280px;
    height: 350px;
    position: absolute;
    top: 310px;
    left: 220px;
}

.content {
    width: 500px;
    height: 50vh;
    top: 60%;
    left: 35%;
    /* padding: 40px; */
    position: absolute;
    overflow: auto;

}

.chatBox {
    margin: 0 auto;
    width: 320px;
    /* height: 110px; */
    height: auto;
    border: 25px solid transparent;
    border-radius: 40px 40px 40px 0px;
    box-shadow: 10px 10px 10px #5e5d5d;
    position: fixed;
    top: 30%;
    left: 40%;
}

#secondChatBox {
    visibility: hidden;
}

#thirdChatBox {
    visibility: hidden;
}

#happyChatBox {
    visibility: hidden;
}

#boredChatBox {
    visibility: hidden;
}

#sadChatBox {
    visibility: hidden;
}

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

.chatBox:hover {
    box-shadow: 15px 15px 15px #3b3a3a;
    transition: box-shadow 0.25s;
}

.pink.lighten-3:hover {
    background-color: #f06292 !important;
    transition: background-color 0.25s;
}

.chatBoxParagraph {
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 24px; */
}

.btn-large {
    padding: 0 48px;
    border: 1px transparent;
    border-radius: 20px 20px;
}

#chatBoxOne {
    top: 55%;
    left: 33%;
}

.emoBtns {
    visibility: hidden;
    position: relative;
}

#firstClick {
    position: fixed;
    left: 650px;
}

#firstNameInput {
    visibility: hidden;
}

#happyBtn,
#sadBtn,
#boredBtn {
    position: fixed;    
    left: 640px
}

#happyBtn {
    left: 480px;
}

#boredBtn {
    left: 780px;
}

#contentContainer {
    height: 900px;

}

.input-field {
    position: fixed;
    top: 340px;
    left: 660px;
}
/* .input-field {
    margin: 0 auto;
}

.row .col.s3 {
    width: 33.3333333333%;
    margin-left: 20%;
    left: auto;
    right: auto;
    top: 440px;
    position: fixed;
} */