* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

nav {
    position: fixed;
}

.nav-wrapper {
    background-color: #ec407a;
    /* position: fixed; */
}

.container {
    height: 900px;
    width: auto;
    /* background-image: linear-gradient(90deg, #6D0FF2, #AB05F2); */
}

/* .page-content {
    width: 960px;
    height: 900px;
    top: 50%;
    left: 50%;
} */

.content {
    width: 500px;
    height: 250px;
    top: 60%;
    left: 35%;
    /* padding: 40px; */
    position: fixed;
}

.chatBox {
    margin: 0 auto;
    width: 320px;
    height: 110px;
    border: 25px solid transparent;
    border-radius: 40px 40px 40px 0px;
    box-shadow: 10px 10px 10px #bdbdbd;
    position: fixed;
    top: 30%;
    left: 40%;
}

.chatBox:hover {
    box-shadow: 15px 15px 15px #bdbdbd;
    transition: box-shadow 0.25s;
}

.pink.lighten-3:hover {
    background-color: #f06292 !important;
    transition: background-color 0.25s;
}

.chatBoxOne {
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 24px; */
}

.btn-large {
    padding: 0 48px;
}
/* .input-field {
    margin: 0 auto;
}

.row .col.s3 {
    width: 33.3333333333%;
    margin-left: 20%;
    left: auto;
    right: auto;
    top: 440px;
    position: fixed;
} */