* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
  
    /* min-height: 100vh;  */
    /* flex-direction: column; */
    height: 90vh;
    background-color: #fff;
}


nav {
    position: fixed;
    font-family: 'Pacifico', cursive;
    font-size: 96px;

}

.nav-wrapper {
    background-color: #828dab;
    /* background-color: #ec407a; */
    /* position: fixed; */
}

.brand-logo {
    color: white;
}

.main {
    /* margin-bottom: 980px; */
    height: 700px;
}


.container {
    height: 100px;
    width: auto;
    overflow: auto;
    flex: 1 0 auto;

    /* background-image: linear-gradient(90deg, #6D0FF2, #AB05F2); */
}

.posiBotContainer {
    position: fixed;
    top: -150px;
}

img {
    width: 300px;
    height: 350px;
    position: absolute;
    top: 180px;
    left: 220px;
}

.inspoImg {
    width: 280px;
    height: 380px;
    position: absolute;
    top: 180px;
    left: 260px;
}

.content {
    width: 500px;
    height: 40vh;
    top: 60%;
    left: 35%;
    /* padding: 40px; */
    position: absolute;
    overflow: auto;

}

.card .card-content {
    padding: 0;
    /* border-radius: 0 0 2px 2px; */
    overflow-y: scroll;
    height: 100px;
}

.chatBox {
    margin: 0 auto;
    width: 320px;
    /* height: 110px; */
    height: auto;
    border: 25px solid transparent;
    border-radius: 40px 40px 40px 0px;
    box-shadow: 10px 10px 10px #5e5d5d;
    position: absolute;
    top: 30%;
    left: 40%;
    background-color: #f37d31;
}

#secondChatBox {
    visibility: hidden;
}

#thirdChatBox {
    visibility: hidden;
}

#happyChatBox {
    visibility: hidden;
}

#boredChatBox {
    visibility: hidden;
}

#sadChatBox {
    visibility: hidden;
}

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

.chatBox:hover {
    box-shadow: 15px 15px 15px #3b3a3a;
    transition: box-shadow 0.25s;
    background-color: #d45b0b;
    transition: background-color 0.25s;
}


.chatBoxParagraph {
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 24px; */
}

.btn-large {
    padding: 0 48px;
    border: 1px transparent;
    border-radius: 20px 20px;
    position: relative;
    top: 420px;
    left: -70px;
    background-color: #f37d31;
}

.btn-large:hover {
    background-color: #d45b0b;
}

.input-field>label {
    color: #f37d31;
}
.input-field>.active {
    color: #f37d31!important; 
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #f37d31 !important;
    box-shadow: 0 1px 0 0 #f37d31 !important;
  }

#chatBoxOne {
    top: 55%;
    left: 33%;
}

.emoBtns {
    visibility: hidden;
    position: absolute;
}

#firstClick {
    position: absolute;
    left: 650px;
    
}

#firstNameInput {
    visibility: hidden;
}

#happyBtn,
#sadBtn,
#boredBtn {
    position: absolute;    
    left: 640px;
}

#happyBtn {
    left: 480px;
}

#boredBtn {
    left: 780px;
}

#contentContainer {
    height: 400px;
    margin-top: 100px;

}

.input-field {
    position: fixed;
    top: 360px;
    left: 660px;
}

.page-footer {
    height: 120px;;
    overflow: hidden;
    position: sticky;
    margin-bottom: 0px;
    background-color: #828dab;

}

h4 {
    margin-top: 0px;
}

#footerRow {
    margin-bottom: 0px!important;
}

#creatorsTitle {
    text-align: center;
}

#leftCreators {
    float: left;
}

#rightCreators {
    float: right;
}
/* .input-field {
    margin: 0 auto;
}

.row .col.s3 {
    width: 33.3333333333%;
    margin-left: 20%;
    left: auto;
    right: auto;
    top: 440px;
    position: fixed;
} */